
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  background-color: #fff;
}



.product-card img {
  border-radius: 8px;
  
}

.product-card h3 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.product-card p {
  margin: 4px 0;
  font-size: 1em;
  color: #333;
}

@media (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.Search{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
input{
  width: 50%;
}

.out-of-stock {
  color: red;
  font-weight: bold;
}
