<div class="error-container">
  <!-- Wrap the image in a link to navigate to the home page when clicked -->
  <!-- <a routerLink="/home">
    <img src="assets/errorImage.webp" alt="Page Not Found" >
  </a> -->

  <ng-container  *ngIf="!isDeliveryBoy; else outOfStock">
    <a class="navbar-brand" routerLink="home">
      <img src="assets/errorImage.webp" alt="Page Not Found" >
    </a>
  </ng-container>
  <ng-template #outOfStock>
    <a class="navbar-brand" routerLink="/delivery-home">
      <img src="assets/errorImage.webp" alt="Page Not Found" >
    </a>
  </ng-template>

</div>
