
<div *ngIf="loading" class="loading-message ">
  <!-- <p-progressSpinner ariaLabel="loading"></p-progressSpinner> -->
  <div class="loader"></div>
</div>


<div class="col-12 container-fluid" *ngIf="selectedProduct && !loading">
  <div class="row">
    <div class="col-2" style="border-right: 2px solid #000;">
      <div class="profile-details">
        <h3>Address</h3>
        
          <p><strong>Username:</strong> {{ userProfile?.userName }}</p>
          <p><strong>Email:</strong> {{ userProfile?.emailId }}</p>
          <p><strong>Mobile No:</strong> {{ userProfile?.mobileNo }}</p>
          <p><strong>Address:</strong> {{ userProfile?.address }}</p>
          <p><strong>City:</strong> {{ userProfile?.city }}</p>
          <p><strong>State:</strong> {{ userProfile?.state }}</p>
          <p><strong>Pin Code:</strong> {{ userProfile?.pinCode }}</p>
          <p><strong>Country:</strong> {{ userProfile?.country }}</p>
     
      </div>
    </div>
    <div class="col-10">
      <div class="row" style="margin: 20px 20px;">
        <div class="product-container" >
          <div class="product-card" *ngFor="let product of products">
            <div class="col-12 col-md-4">
              <div class="image-container">
                <img [src]="'data:image/webp;base64,' + product.productImageBase64"
                  alt="{{ product.productName }} image" width="100%" height="auto">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="text-container">
                <h4>{{ product.productName }}</h4>
                <h4>Price: ₹{{ product.productPrice }}</h4>

                <div class="quantity-container ">
                  <button class="quantity-button" (click)="decreaseQuantity()" [disabled]="quantity <= 1">-</button>
                  <span>{{ quantity }}</span>
                  <button class="quantity-button" (click)="increaseQuantity()" [disabled]="quantity >= product.noOfItems">+</button>
                </div>
              
                
                  <h4>Total Amount: ₹ {{ totalAmount }}</h4>
                
                  <div style="width: 50%;">
                    <button (click)="pay(totalAmount,product.productId,userProfile,quantity)" class="rk-btn">Pay</button>   
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>



