



<div class="col-12 container-fluid">
  <div class="row">
    <div class="col-2" style="border-right: 2px solid #000;">
      <div class="profile-details">
        <h3>Address</h3>
        
          <p><strong>Username:</strong> {{ userProfile?.userName }}</p>
          <p><strong>Email:</strong> {{ userProfile?.emailId }}</p>
          <p><strong>Mobile No:</strong> {{ userProfile?.mobileNo }}</p>
          <p><strong>Address:</strong> {{ userProfile?.address }}</p>
          <p><strong>City:</strong> {{ userProfile?.city }}</p>
          <p><strong>State:</strong> {{ userProfile?.state }}</p>
          <p><strong>Pin Code:</strong> {{ userProfile?.pinCode }}</p>
          <p><strong>Country:</strong> {{ userProfile?.country }}</p>
     
      </div>
    </div>
    <div class="col-10">
      <div class="row" style="margin: 20px 20px;">
        <div class="product-container" *ngIf="selectedProduct">
          <div class="product-card" *ngFor="let product of products">
            <div class="col-12 col-md-4">
              <div class="image-container">
                <img [src]="'data:image/webp;base64,' + product.productImageBase64"
                  alt="{{ product.productName }} image" width="100%" height="auto">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="text-container">
                <h3>{{ product.productName }}</h3>
                <p>Price: ₹{{ product.productPrice }}</p>
                <button (click)="pay(product.productPrice,product.productId,userProfile)">₹{{ product.productPrice }}</button>              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>



