/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


.button-container {
  display: flex;
  justify-content: space-between; /* Ensures space between the buttons */
  gap: 10px; /* Optional: Adds spacing between the buttons */
  margin: 50px 10px;

}

.button-container button {
  flex: 1; /* Makes each button take equal space */
}


.rk-btn {
  display: inline-block;
  width:100%;
  align-items: center;
  padding: 5px 10px;
  border: none;
  background-color: teal;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
}
.rk-btn:disabled {
  display: inline-block;
  width:100%;
  align-items: center;
  padding: 5px 10px;
  border: none;
  background-color: grey;
  color: white;
  font-size: 14px;
  cursor: not-allowed;
  border-radius: 4px;
  margin-bottom: 10px;
}
.rk-btn:hover {
  background-color: #0056b3; /* Button hover color */
}
.form-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.form-card:hover {
  border: 1px solid #007bff;
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5);
}

.form-group input:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5);
}

.loading-message {
  position: absolute;        /* Position relative to the parent container (viewport) */
  top: 50%;                  /* Move 50% down from the top of the viewport */
  left: 50%;                 /* Move 50% from the left of the viewport */
  transform: translate(-50%, -50%); /* Adjust position to truly center it */
  font-size: 18px;           /* Customize font size */
  color: #333;               /* Customize text color */
  text-align: center;        /* Center text inside the div */
  font-weight: bold;         /* Optional: make the text bold */
}


/* HTML: <div class="loader"></div> */ 
/* styles fromm https://css-loaders.com/ */
.loader {
  width: 80px;
  height: 75px;
  --c:no-repeat radial-gradient(farthest-side, #f7b261 85%,#b97850,#0000);
  --b:no-repeat radial-gradient(farthest-side, #734b46 94%,#0000);
  --s:8px 8px,8px 8px,8px 8px,40px 40px;
  --e:0 0, 0 0,0 0, 0 0;
  background:
    var(--b) 55% 47%,
    var(--b) 60% 66%,
    var(--b) 37% 43%,
    var(--c) 50% 50%,
    var(--b) 15px 4px,
    var(--b) 4px  14px,
    var(--b) 27px 18px,
    var(--c) 0    0,
    var(--b) calc(100% - 15px)  4px,
    var(--b) calc(100% - 4px)  14px,
    var(--b) calc(100% - 27px) 18px,
    var(--c) 100% 0/40px 40px,
    var(--b) 24px 47px,
    var(--b) 50%  43px,
    var(--b) 60%  58px,
    var(--c) 50%  100%;
  animation: l5 3s infinite;
}
@keyframes l5 {
  0%    ,20% {background-size: var(--s),var(--s),var(--s),var(--s)}
  20.01%,40% {background-size: var(--e),var(--s),var(--s),var(--s)}
  40.01%,60% {background-size: var(--e),var(--e),var(--s),var(--s)}
  60.01%,80% {background-size: var(--e),var(--e),var(--e),var(--s)}
  80.01%,100%{background-size: var(--e),var(--e),var(--e),var(--e)}
}