<p-toast ></p-toast>

<div class="container mt-5 form-card">

  
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="!isLoginMode && !isForgotPasswordMode && !isResetPasswordMode " class="mt-4 ">
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="userName">User  Name</label>
        <input type="text" id="userName" formControlName="userName" class="form-control" required>
        <div *ngIf="userForm.get('userName')?.invalid && (userForm.get('userName')?.touched || userForm.get('userName')?.dirty)" class="text-danger">
          <small *ngIf="userForm.get('userName')?.errors?.['required']">User  Name is required.</small>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label for="emailId">Email ID</label>
        <input type="email" id="emailId" formControlName="emailId" class="form-control" required>
        <div *ngIf="userForm.get('emailId')?.invalid && (userForm.get('emailId')?.touched || userForm.get('emailId')?.dirty)" class="text-danger">
          <small *ngIf="userForm.get('emailId')?.errors?.['required']">Email ID is required.</small>
          <small *ngIf="userForm.get('emailId')?.errors?.['email']">Invalid email format.</small>
          <small *ngIf="userForm.get('emailId')?.errors?.['atSymbol']">Email must contain an "@" symbol.</small>
          <small *ngIf="userForm.get('emailId')?.errors?.['domain']">Only Gmail and Yahoo email addresses are allowed.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="userPassword">Password</label>
        <input type="password" id="userPassword" formControlName="userPassword" class="form-control" required>
        <div *ngIf="userForm.get('userPassword')?.invalid && (userForm.get('userPassword')?.touched || userForm.get('userPassword')?.dirty)" class="text-danger">
          <small *ngIf="userForm.get('userPassword')?.errors?.['required']">Password is required.</small>
          <small *ngIf="userForm.get('userPassword')?.errors?.['minlength']">Minimum length is 5.</small>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label for="mobileNo">Mobile No</label>
        <input type="text" id="mobileNo" formControlName="mobileNo" class="form-control" required>
        <div *ngIf="userForm.get('mobileNo')?.invalid && (userForm.get('mobileNo')?.touched || userForm.get('mobileNo')?.dirty)" class="text-danger">
          <small *ngIf="userForm.get('mobileNo')?.errors?.['required']">Mobile No is required.</small>
          <small *ngIf="userForm.get('mobileNo')?.errors?.['pattern']">Invalid mobile number format.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="address">Address</label>
        <input type="text" id="address" formControlName="address" class="form-control" required>
        <div *ngIf="userForm.get('address')?.invalid && (userForm.get('address')?.touched || userForm.get('address')?.dirty)" class="text-danger">
          <small *ngIf="userForm.get('address')?.errors?.['required']">Address is required.</small>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label for="city">City</label>
        <input type="text" id="city" formControlName="city" class="form-control" required>
        <div *ngIf="userForm.get('city')?.invalid && (userForm.get('city')?.touched || userForm.get('city')?.dirty)" class="text-danger">
          <small *ngIf="userForm.get('city')?.errors?.['required']">City is required.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="state">State</label>
        <input type="text" id="state" formControlName="state" class="form-control" required>
        <div *ngIf="userForm.get('state')?.invalid && (userForm.get('state')?.touched || userForm.get('state')?.dirty)" class="text-danger">
          <small *ngIf="userForm.get('state')?.errors?.['required']">State is required.</small>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label for="pinCode">Pin Code</label>
        <input type="text" id="pinCode" formControlName="pinCode" class="form-control" required>
        <div *ngIf="userForm.get('pinCode')?.invalid && (userForm.get('pinCode')?.touched || userForm.get('pinCode')?.dirty)" class="text-danger">
          <small *ngIf="userForm.get('pinCode')?.errors?.['required']">Pin Code is required.</small>
          <small *ngIf="userForm.get('pinCode')?.errors?.['pattern']">Invalid pin code format.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="country">Country</label>
        <input type="text" id="country" formControlName="country" class="form-control" required>
        <div *ngIf="userForm.get('country')?.invalid && (userForm.get('country')?.touched || userForm.get('country')?.dirty)" class="text-danger">
          <small *ngIf="userForm.get('country')?.errors?.['required']">Country is required.</small>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label for="profileImage">Profile Image</label>
        <input type="file" id="profileImage" (change)="onFileChange($event)" class="form-control">
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-primary"  [disabled]="userForm.invalid">Submit</button>
    </div>
  </form>

  <form *ngIf="isLoginMode && !isForgotPasswordMode && !isResetPasswordMode " [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="mt-4 ">
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="emailId">Email ID</label>
        <input type="email" id="emailId" formControlName="emailId"  class="form-control" required>
        <div *ngIf="loginForm.get('emailId')?.invalid && (loginForm.get('emailId')?.touched || loginForm.get('emailId')?.dirty)" class="text-danger">
          <small *ngIf="loginForm.get('emailId')?.errors?.['required']">Email ID is required.</small>
          <small *ngIf="loginForm.get('emailId')?.errors?.['email']">Invalid email format.</small>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label for="userPassword">Password</label>
        <input type="password" id="userPassword" formControlName="userPassword" class="form-control" required>
        <div *ngIf="loginForm.get('userPassword')?.invalid && (loginForm.get('userPassword')?.touched || loginForm.get('userPassword')?.dirty)" class="text-danger">
          <small *ngIf="loginForm.get('userPassword')?.errors?.['required']">Password is required.</small>
        </div>
      </div>
    </div>
    <div *ngIf="isSubmitting" class="w-16 h-16 border-4 border-dashed rounded-full animate-spin dark:border-violet-600 mx-auto mt-3"></div>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || isSubmitting">Login</button>
    </div>
    <div class="text-center mt-3">
      <button (click)="toggleForgotPassword()" class="btn btn-link">Forgot Password?</button>
    </div>
  </form>

  <!-- Forgot Password Form -->
  <form *ngIf="isForgotPasswordMode" [formGroup]="forgotEmail" (ngSubmit)="onForgotPassword()" class="mt-4 ">
    <div class="row">
      <div class="col-md-12 form-group">
        <label for="emailId">Email ID</label>
        <input type="email" id="emailId" formControlName="emailId" class="form-control" required>
        <div *ngIf="forgotEmail.get('emailId')?.invalid && (forgotEmail.get('emailId')?.touched || forgotEmail.get('emailId')?.dirty)" class="text-danger">
          <small *ngIf="forgotEmail.get('emailId')?.errors?.['required']">Email ID is required.</small>
          <small *ngIf="forgotEmail.get('emailId')?.errors?.['email']">Invalid email format.</small>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-primary" [disabled]="forgotEmail.invalid">Send Reset Link</button>
    </div>
  </form>

  <!-- New Password Form (after verifying email) -->
<form *ngIf="isResetPasswordMode" [formGroup]="forgotPassword" (ngSubmit)="onResetPassword()" class="mt-4 ">
  <div class="row">
    <div class="col-md-12 form-group">
      <label for="userPassword">New Password</label>
      <input type="password" id="userPassword" formControlName="userPassword" class="form-control" required>
      <div *ngIf="forgotPassword.get('userPassword')?.invalid && (forgotPassword.get('userPassword')?.touched || forgotPassword.get('userPassword')?.dirty)" class="text-danger">
        <small *ngIf="forgotPassword.get('userPassword')?.errors?.['required']">Password is required.</small>
        <small *ngIf="forgotPassword.get('userPassword')?.errors?.['minlength']">Password must be at least 5 characters long.</small>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn btn-primary" [disabled]="forgotPassword.invalid">Reset Password</button>
  </div>
</form>

  <div class="text-center mt-3" *ngIf="!isForgotPasswordMode && !isResetPasswordMode" >
    <button (click)="toggleForm()" class="btn btn-link">{{ isLoginMode ? 'Switch to Sign Up' : 'Switch to Login' }}</button>
  </div>
</div>






